body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #252525;
  width: 960px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
